.message-list {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.messages-divider {
  margin: 10px 50px;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-self: center;
  justify-self: center;
  background-color: rgb(182, 177, 172);
}