.edit-message-modal {
  width: 50%;
  height: 30%;
  min-width: 300px;
  min-height: 300px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.edit-message-header {
  display: flex;
  align-self: center;
  margin: 10px;
  font-size: 1.2rem;
}

.edit-message-input {
  height: 100%;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid grey;
  font-size: 1.2em;
  padding: 5px;
}

.edit-message-input:focus, .edit-message-input:active {
  outline: none;
  border: 1px solid grey;
}

.edit-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  margin: 10px 20px;
  padding: 7px 15px;
  background-color: #efefef;
}

.btn:hover {
  background-color: #bcbcbc;
  cursor: pointer;
}