.message-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 70px;
  margin: 10px 20px;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.message-input-text {
  width: 70%;
  height: 30px;
  align-self: center;
  margin-right: 10px;
  padding: 0 10px;
}

.message-input-button {
  height: 30px;
  width: 60px;
  align-self: center;
  border-radius: 2px;
  background-color: #efefef;
}

.message-input-button:hover {
  background-color: #bcbcbc;
  cursor: pointer;
}